<div class="modal" id="app-modal" aria-hidden="true">
  <div class="modal__backdrop"></div>
  <div class="modal__content" role="dialog" aria-modal="true">
    <div class="modal__inner">
      {{! Контент будет вставляться сюда из JS через openModal(html) }}
    </div>
  </div>
</div>