@use '../../../../../shared/styles/tokens' as t;
@use '../../../../../shared/styles/mixins';

.testimonials {
  max-width: 1120px;
  margin: 0 auto 100px;
  padding: 0 16px;
  transform: translate3d(0, calc(var(--testimonials-progress) * -10px), 0);

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    margin-top: 40px;
  }

  @include mixins.media-max(t.$bp-lg) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include mixins.media-max(t.$bp-sm) {
    &__grid {
      grid-template-columns: 1fr;
    }
  }
}
