@use '../../styles/tokens' as t;
@use '../../styles/mixins';

.ui-button {
  width: 100%;
  @include mixins.flex-center;
  height: 48px;
  border-radius: t.$radius-sm;
  font-weight: 600;
  @include mixins.interactive-lift;

  &--primary {
    color: var(--white);
    background: t.$primary-gradient;
    cursor: pointer;
  }

  &--secondary {
    border: 1px solid var(--border);
    background: var(--surface-button-secondary);
    color: var(--text-body);
  }
}

html[data-theme='dark'] {
  .ui-button--secondary {
    border: none;
    background: rgba(33, 42, 69, 0.92);
    color: var(--text-main);
  }
}
