<div class='campaign-row__menu' hidden>
  <button type='button' class='campaign-row__menu-item js-statistics-menu-item'>
    <span
      class='campaign-row__menu-icon campaign-row__menu-icon--blue campaign-row__menu-icon--statistics'
      aria-hidden='true'
    ></span>
    <span>Статистика</span>
  </button>

  <button type='button' class='campaign-row__menu-item'>
    <span
      class='campaign-row__menu-icon campaign-row__menu-icon--blue campaign-row__menu-icon--history'
      aria-hidden='true'
    ></span>
    <span>История действий</span>
  </button>

  <button type='button' class='campaign-row__menu-item js-edit-menu-item'>
    <span
      class='campaign-row__menu-icon campaign-row__menu-icon--blue campaign-row__menu-icon--edit'
      aria-hidden='true'
    ></span>
    <span>Редактировать</span>
  </button>

  <button
    type='button'
    class='campaign-row__menu-item campaign-row__menu-item--danger js-delete-menu-item'
  >
    <span
      class='campaign-row__menu-icon campaign-row__menu-icon--red campaign-row__menu-icon--delete'
      aria-hidden='true'
    ></span>
    <span>Удалить</span>
  </button>
</div>
