<section class="auth-page">
  <div class="auth-card">
    <h1 class="auth-card__title">Вход</h1>

    <form class="auth-form" id="login-form">
      {{{loginField}}}
      {{{passwordField}}}

      <div class="auth-form-not-input">
        {{{submitButton}}}
        {{{registerLinkButton}}}


        <div class="auth-divider">
          <span>или</span>
        </div>

        <button type="button" class="social-button">ВКонтакте</button>
        <button type="button" class="social-button">Google</button>
        <button type="button" class="social-button">Яндекс ID</button>
      </div>
    </form>
  </div>
</section>