.auth-page {
  display: flex;
  justify-content: center;
  padding: 60px 16px 24px;
}

.auth-card {
  width: 100%;
  max-width: 470px;
  padding: 34px 30px 28px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: var(--shadow);
  backdrop-filter: blur(8px);
}

.auth-card__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 42px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.auth-form-not-input{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
} 


.auth-divider {
  position: relative;
  margin: 4px 0;
  text-align: center;
  font-size: 13px;
  color: #a2a7b8;
}

.auth-divider::before,
.auth-divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: calc(50% - 22px);
  height: 1px;
  background: var(--border);
}

.auth-divider::before {
  left: 0;
}

.auth-divider::after {
  right: 0;
}

.social-button {
  height: 46px;
  border: 1px solid var(--border);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

@media (max-width: 900px) {
  .auth-card__title {
    font-size: 34px;
  }
}

@media (max-width: 600px) {
  .auth-card {
    padding: 24px 18px;
  }
}