<aside class="sidebar">
  <div class="sidebar__section">
    <span class="sidebar__link sidebar__link--disabled" aria-disabled="true">
      <img class="sidebar__icon" src="/icons/darhboard.svg" alt="" aria-hidden="true" />
      Обзор
    </span>
    <a
      href="/ads"
      class="sidebar__link {{#if isCampaigns}}sidebar__link--active{{/if}}"
    >
      <img class="sidebar__icon" src="/icons/statistics.svg" alt="" aria-hidden="true" />
      Кампании
    </a>
    <span class="sidebar__link sidebar__link--disabled" aria-disabled="true">
      <img class="sidebar__icon" src="/icons/Group.svg" alt="" aria-hidden="true" />
      Аудитории
    </span>
    <a
      href="/balance"
      class="sidebar__link {{#if isBalance}}sidebar__link--active{{/if}}"
    >
      <img class="sidebar__icon" src="/icons/wallet.svg" alt="" aria-hidden="true" />
      Баланс
    </a>
    <span class="sidebar__link sidebar__link--disabled" aria-disabled="true">
      <img class="sidebar__icon" src="/icons/history.svg" alt="" aria-hidden="true" />
      История действий
    </span>
    <span class="sidebar__link sidebar__link--disabled" aria-disabled="true">
      <img class="sidebar__icon" src="/icons/Question.svg" alt="" aria-hidden="true" />
      Поддержка
    </span>
  </div>

  <div class="sidebar__footer">
    <a
      href="/profile"
      class="sidebar__link {{#if isProfile}}sidebar__link--active{{/if}}"
    >
      <img class="sidebar__icon" src="/icons/User.svg" alt="" aria-hidden="true" />
      Профиль
    </a>
    <button
      type="button"
      class="sidebar__link sidebar__button"
      id="logout-button"
    >
      <img class="sidebar__icon" src="/icons/Export.svg" alt="" aria-hidden="true" />
      Выйти
    </button>
  </div>
</aside>
