<aside class="sidebar">
  <div class="sidebar__section">
    <span class="sidebar__link sidebar__link--disabled" aria-disabled="true">
      Обзор
    </span>
    <a
      href="/ads"
      class="sidebar__link {{#if isCampaigns}}sidebar__link--active{{/if}}"
    >
      Кампании
    </a>
    <span class="sidebar__link sidebar__link--disabled" aria-disabled="true">
      Аудитории
    </span>
    <a
      href="/balance"
      class="sidebar__link {{#if isBalance}}sidebar__link--active{{/if}}"
    >
      Баланс
    </a>
    <a
      href="/appeals"
      class="sidebar__link {{#if isAppeals}}sidebar__link--active{{/if}}"
    >
      Мои обращения
    </a>
    <span class="sidebar__link sidebar__link--disabled" aria-disabled="true">
      История действий
    </span>
    <span class="sidebar__link sidebar__link--disabled" aria-disabled="true">
      Поддержка
    </span>
  </div>

  <div class="sidebar__footer">
    <a
      href="/profile"
      class="sidebar__link {{#if isProfile}}sidebar__link--active{{/if}}"
    >
      Профиль
    </a>
    <button
      type="button"
      class="sidebar__link sidebar__button"
      id="logout-button"
    >
      Выйти
    </button>
  </div>
</aside>
