<div class="public-layout {{layoutClass}}">
  <div class="public-layout__container">
    <div id="app-navbar-slot">{{{navbar}}}</div>
    <main class="public-layout__content" id="app-layout-outlet">
      {{{content}}}
    </main>
  </div>
</div>
