<div class="public-layout">
  <div class="public-layout__container">
    <div id="app-navbar-slot">{{{navbar}}}</div>
    <main class="public-layout__content" id="app-layout-outlet">
      {{{content}}}
    </main>
  </div>

  <img
    src="/img/bg-main.png"
    alt=""
    class="public-layout__bg-main"
    aria-hidden="true"
  />
</div>
