<div class="public-layout {{layoutClass}}">
  <div class="public-layout__bg" aria-hidden="true" data-parallax-root>
    <div class="public-layout__parallax-layer" data-parallax-speed="0.35">
      <span class="public-layout__bg-blob public-layout__bg-blob--1"></span>
    </div>
    <div class="public-layout__parallax-layer" data-parallax-speed="0.18">
      <span class="public-layout__bg-blob public-layout__bg-blob--2"></span>
    </div>
    <div class="public-layout__parallax-layer" data-parallax-speed="0.5">
      <span class="public-layout__bg-blob public-layout__bg-blob--3"></span>
    </div>
    <div class="public-layout__parallax-layer" data-parallax-speed="0.25">
      <span class="public-layout__bg-blob public-layout__bg-blob--4"></span>
    </div>
    <div class="public-layout__parallax-layer" data-parallax-speed="0.42">
      <span class="public-layout__bg-blob public-layout__bg-blob--5"></span>
    </div>

    <div class="public-layout__shimmer" aria-hidden="true"></div>

    <div class="public-layout__dust" data-dust>
      <span class="public-layout__dust-mote" style="--d-x: 8%;  --d-y: 12%; --d-size: 3px;  --d-dur: 22s; --d-delay: 0s;  --d-travel: 18vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 18%; --d-y: 72%; --d-size: 2px;  --d-dur: 28s; --d-delay: -4s;  --d-travel: 12vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 27%; --d-y: 28%; --d-size: 4px;  --d-dur: 34s; --d-delay: -9s;  --d-travel: 22vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 35%; --d-y: 88%; --d-size: 2px;  --d-dur: 26s; --d-delay: -2s;  --d-travel: 16vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 44%; --d-y: 18%; --d-size: 3px;  --d-dur: 30s; --d-delay: -15s; --d-travel: 20vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 52%; --d-y: 58%; --d-size: 2px;  --d-dur: 24s; --d-delay: -6s;  --d-travel: 14vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 61%; --d-y: 8%;  --d-size: 4px;  --d-dur: 36s; --d-delay: -11s; --d-travel: 24vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 68%; --d-y: 42%; --d-size: 2px;  --d-dur: 27s; --d-delay: -3s;  --d-travel: 18vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 75%; --d-y: 82%; --d-size: 3px;  --d-dur: 32s; --d-delay: -18s; --d-travel: 16vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 83%; --d-y: 24%; --d-size: 2px;  --d-dur: 25s; --d-delay: -7s;  --d-travel: 14vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 89%; --d-y: 66%; --d-size: 4px;  --d-dur: 38s; --d-delay: -13s; --d-travel: 22vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 93%; --d-y: 14%; --d-size: 2px;  --d-dur: 29s; --d-delay: -1s;  --d-travel: 12vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 12%; --d-y: 48%; --d-size: 3px;  --d-dur: 33s; --d-delay: -5s;  --d-travel: 20vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 38%; --d-y: 38%; --d-size: 2px;  --d-dur: 26s; --d-delay: -10s; --d-travel: 16vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 56%; --d-y: 94%; --d-size: 3px;  --d-dur: 31s; --d-delay: -16s; --d-travel: 18vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 72%; --d-y: 6%;  --d-size: 2px;  --d-dur: 23s; --d-delay: -8s;  --d-travel: 14vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 80%; --d-y: 52%; --d-size: 3px;  --d-dur: 35s; --d-delay: -12s; --d-travel: 22vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 4%;  --d-y: 86%; --d-size: 2px;  --d-dur: 28s; --d-delay: -17s; --d-travel: 16vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 48%; --d-y: 74%; --d-size: 4px;  --d-dur: 40s; --d-delay: -20s; --d-travel: 26vh;"></span>
      <span class="public-layout__dust-mote" style="--d-x: 64%; --d-y: 32%; --d-size: 2px;  --d-dur: 24s; --d-delay: -6s;  --d-travel: 12vh;"></span>
    </div>

    <div class="public-layout__stars" aria-hidden="true">
      <span class="public-layout__star" style="--s-x: 5%;  --s-y: 8%;  --s-size: 2px; --s-dur: 3.2s; --s-delay: 0s;"></span>
      <span class="public-layout__star" style="--s-x: 11%; --s-y: 22%; --s-size: 1px; --s-dur: 4.1s; --s-delay: -0.6s;"></span>
      <span class="public-layout__star" style="--s-x: 17%; --s-y: 46%; --s-size: 2px; --s-dur: 2.8s; --s-delay: -1.2s;"></span>
      <span class="public-layout__star" style="--s-x: 23%; --s-y: 14%; --s-size: 1px; --s-dur: 5.0s; --s-delay: -2.0s;"></span>
      <span class="public-layout__star" style="--s-x: 29%; --s-y: 68%; --s-size: 2px; --s-dur: 3.6s; --s-delay: -0.3s;"></span>
      <span class="public-layout__star" style="--s-x: 34%; --s-y: 32%; --s-size: 1px; --s-dur: 4.5s; --s-delay: -1.7s;"></span>
      <span class="public-layout__star" style="--s-x: 40%; --s-y: 84%; --s-size: 2px; --s-dur: 3.0s; --s-delay: -2.4s;"></span>
      <span class="public-layout__star" style="--s-x: 45%; --s-y: 10%; --s-size: 1px; --s-dur: 4.8s; --s-delay: -0.9s;"></span>
      <span class="public-layout__star" style="--s-x: 51%; --s-y: 52%; --s-size: 2px; --s-dur: 3.4s; --s-delay: -1.5s;"></span>
      <span class="public-layout__star" style="--s-x: 56%; --s-y: 24%; --s-size: 1px; --s-dur: 5.2s; --s-delay: -0.2s;"></span>
      <span class="public-layout__star" style="--s-x: 62%; --s-y: 76%; --s-size: 2px; --s-dur: 2.9s; --s-delay: -1.0s;"></span>
      <span class="public-layout__star" style="--s-x: 67%; --s-y: 40%; --s-size: 1px; --s-dur: 4.2s; --s-delay: -2.2s;"></span>
      <span class="public-layout__star" style="--s-x: 72%; --s-y: 6%;  --s-size: 2px; --s-dur: 3.8s; --s-delay: -0.5s;"></span>
      <span class="public-layout__star" style="--s-x: 78%; --s-y: 60%; --s-size: 1px; --s-dur: 5.4s; --s-delay: -1.8s;"></span>
      <span class="public-layout__star" style="--s-x: 83%; --s-y: 28%; --s-size: 2px; --s-dur: 3.1s; --s-delay: -0.8s;"></span>
      <span class="public-layout__star" style="--s-x: 88%; --s-y: 72%; --s-size: 1px; --s-dur: 4.6s; --s-delay: -2.6s;"></span>
      <span class="public-layout__star" style="--s-x: 93%; --s-y: 44%; --s-size: 2px; --s-dur: 3.5s; --s-delay: -1.1s;"></span>
      <span class="public-layout__star" style="--s-x: 97%; --s-y: 16%; --s-size: 1px; --s-dur: 5.1s; --s-delay: -0.4s;"></span>
      <span class="public-layout__star" style="--s-x: 8%;  --s-y: 56%; --s-size: 1px; --s-dur: 4.3s; --s-delay: -1.9s;"></span>
      <span class="public-layout__star" style="--s-x: 14%; --s-y: 88%; --s-size: 2px; --s-dur: 3.3s; --s-delay: -0.7s;"></span>
      <span class="public-layout__star" style="--s-x: 20%; --s-y: 36%; --s-size: 1px; --s-dur: 4.9s; --s-delay: -2.1s;"></span>
      <span class="public-layout__star" style="--s-x: 26%; --s-y: 4%;  --s-size: 2px; --s-dur: 3.7s; --s-delay: -1.4s;"></span>
      <span class="public-layout__star" style="--s-x: 32%; --s-y: 94%; --s-size: 1px; --s-dur: 5.3s; --s-delay: -0.1s;"></span>
      <span class="public-layout__star" style="--s-x: 38%; --s-y: 62%; --s-size: 2px; --s-dur: 2.7s; --s-delay: -2.3s;"></span>
      <span class="public-layout__star" style="--s-x: 43%; --s-y: 18%; --s-size: 1px; --s-dur: 4.0s; --s-delay: -1.3s;"></span>
      <span class="public-layout__star" style="--s-x: 48%; --s-y: 80%; --s-size: 2px; --s-dur: 3.9s; --s-delay: -0.6s;"></span>
      <span class="public-layout__star" style="--s-x: 54%; --s-y: 30%; --s-size: 1px; --s-dur: 5.5s; --s-delay: -1.6s;"></span>
      <span class="public-layout__star" style="--s-x: 59%; --s-y: 66%; --s-size: 2px; --s-dur: 2.6s; --s-delay: -2.5s;"></span>
      <span class="public-layout__star" style="--s-x: 65%; --s-y: 12%; --s-size: 1px; --s-dur: 4.4s; --s-delay: -0.3s;"></span>
      <span class="public-layout__star" style="--s-x: 70%; --s-y: 50%; --s-size: 2px; --s-dur: 3.2s; --s-delay: -1.7s;"></span>
      <span class="public-layout__star" style="--s-x: 75%; --s-y: 92%; --s-size: 1px; --s-dur: 4.7s; --s-delay: -0.9s;"></span>
      <span class="public-layout__star" style="--s-x: 81%; --s-y: 38%; --s-size: 2px; --s-dur: 3.0s; --s-delay: -2.0s;"></span>
      <span class="public-layout__star" style="--s-x: 86%; --s-y: 64%; --s-size: 1px; --s-dur: 5.0s; --s-delay: -1.2s;"></span>
      <span class="public-layout__star" style="--s-x: 90%; --s-y: 2%;  --s-size: 2px; --s-dur: 3.5s; --s-delay: -0.5s;"></span>
      <span class="public-layout__star" style="--s-x: 95%; --s-y: 82%; --s-size: 1px; --s-dur: 4.3s; --s-delay: -2.4s;"></span>
      <span class="public-layout__star" style="--s-x: 2%;  --s-y: 40%; --s-size: 2px; --s-dur: 3.8s; --s-delay: -1.0s;"></span>
      <span class="public-layout__star" style="--s-x: 36%; --s-y: 74%; --s-size: 1px; --s-dur: 4.6s; --s-delay: -0.2s;"></span>
      <span class="public-layout__star" style="--s-x: 49%; --s-y: 96%; --s-size: 2px; --s-dur: 2.9s; --s-delay: -1.8s;"></span>
      <span class="public-layout__star" style="--s-x: 69%; --s-y: 22%; --s-size: 1px; --s-dur: 5.2s; --s-delay: -0.7s;"></span>
      <span class="public-layout__star" style="--s-x: 82%; --s-y: 54%; --s-size: 2px; --s-dur: 3.4s; --s-delay: -2.1s;"></span>
    </div>

    <div class="public-layout__spotlight" data-spotlight aria-hidden="true"></div>

    <div class="public-layout__grain" aria-hidden="true"></div>
  </div>

  <div class="public-layout__scroll-progress" data-scroll-progress aria-hidden="true">
    <span class="public-layout__scroll-progress-bar"></span>
  </div>

  <div class="public-layout__container">
    <div id="app-navbar-slot">{{{navbar}}}</div>
    <main class="public-layout__content" id="app-layout-outlet">
      {{{content}}}
    </main>
  </div>

  <img
    src="/img/bg-main.png"
    alt=""
    class="public-layout__bg-main"
    aria-hidden="true"
  />
</div>
