<div class="dashboard-layout">
  <div class="dashboard-layout__container">
    {{{navbar}}}

    <div class="dashboard-layout__body">
      {{{sidebar}}}

      <main class="dashboard-layout__content">
        {{{content}}}
      </main>
    </div>
  </div>

  <div class="public-layout__bg public-layout__bg--left"></div>
  <div class="public-layout__bg public-layout__bg--right"></div>
</div>