<section class='not-found-page'>
  <div class='not-found-page__card'>
    <div class='not-found-page__copy'>
      <span class='not-found-page__kicker'>404</span>
      <h1 class='not-found-page__title'>Страница не найдена</h1>
      <p class='not-found-page__text'>
        Такой страницы нет или ссылка устарела. Вернитесь в рабочий раздел и продолжите работу.
      </p>

      <div class='not-found-page__actions'>
        <a href='{{ctaHref}}' class='not-found-page__button'>
          {{ctaText}}
        </a>
      </div>
    </div>

    <div class='not-found-page__media' aria-hidden='true'>
      <div class='not-found-page__visual'>
        <img
          class='not-found-page__image'
          src='/img/404%20Not%20Found.png'
          alt=''
        />
      </div>
    </div>
  </div>
</section>
