<div class="public-layout">
  <div class="public-layout__container">
    {{{navbar}}}
    <main class="public-layout__content">
      {{{content}}}
    </main>
  </div>

  <img
    src="/img/bg-main.png"
    alt=""
    class="public-layout__bg-main"
    aria-hidden="true"
  />
</div>
