<section class="hero">
  <div class="hero__content">
    <h1 class="hero__title">
      ЭшкеРеклама
      <span>Реклама, которая работает</span>
    </h1>

    <p class="hero__description">
      Запускайте рекламу, получайте клиентов, растите быстрее
    </p>

    <div class="hero__actions">
      <a href="{{ctaHref}}" class="hero__button">{{ctaText}}</a>
    </div>
  </div>

  <div class="features">
    <article class="feature-card feature-card--phone">
      <h3 class="feature-card__title">
        Привлекайте пользователей и получайте результат
      </h3>

      <div class="feature-card__media">
        <img
          src="/img/card-1.png"
          alt="Привлечение пользователей"
          class="feature-card__img"
        />
      </div>
    </article>

    <article class="feature-card feature-card--target">
      <h3 class="feature-card__title">
        Умный поиск клиентов
      </h3>

      <div class="feature-card__media">
        <img
          src="/img/card-2.png"
          alt="Умный поиск клиентов"
          class="feature-card__img"
        />
      </div>
    </article>

    <article class="feature-card feature-card--gift">
      <h3 class="feature-card__title">
        Получайте бонусы на запуск кампаний
      </h3>

      <div class="feature-card__media">
        <img
          src="/img/card-3.png"
          alt="Бонусы на запуск кампаний"
          class="feature-card__img"
        />
      </div>
    </article>
  </div>
</section>
