@use '../../../../../shared/styles/tokens' as t;
@use '../../../../../shared/styles/mixins';


.profile-modal__link-button {
  transition: color 0.2s ease, opacity 0.2s ease;

  &:hover {
    color: #454dff;
    opacity: 0.9;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

